custom_text_block:
  type: objects
  default:
    - name: text_block 1
      text: "Custom Component Demo Text Block 1!!"
      outlet: "top-notices"
      class: "warning"
      group_action: "show"
      groups: [1]
  schema:
    name: text_block
    properties:
      text:
        type: string
        required: true
      outlet:
        type: string
        required: true
      class:
        type: string
        required: false
      id:
        type: string
        required: false
        description: The id to apply to the text block
      group_action:
        type: enum
        required: true
        choices:
          - show
          - hide
      groups:
        type: groups
        required: true
        default: []
